.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--gray-000);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  z-index: 99;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.2));
  > i {
    cursor: pointer;
  }
}

.navicon {
  font-size: 1.8rem;
  color: var(--gray-300);
  transition:
    color 0.2s,
    transform 0.2s;
}
.navicon.selected {
  color: var(--pink-600);
  transform: translateY(-0.2rem);
}
