.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Define Color Theme */
:root {
  --pink-100: #fff1f2;
  --pink-200: #ffe4e6;
  --pink-300: #fecdd3;
  --pink-400: #fda4af;
  --pink-500: #fb7185;
  --pink-600: #f43f5e;

  --gray-000: #ffffff;
  --gray-100: #ffe4e6;
  --gray-200: #a8a29e;
  --gray-300: #575342;
  --gray-400: #292524;
  --gray-500: #0c0a09;
  
  --brightpink: #d946ef;
  --orange: #f97316;
  --yellow: #fbbf24;
  --green: #4ade80;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
